{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>SMART MEETING</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    </head>
    <body class="">
        {% if isuser%}
            <!--<a href="/"><img class="signHeader" src="{% static 'image/EASIER.png' %}" alt="EASIER_header"/></a>-->
        {% endif %}
        <div class="header bolder">
        </div>
        {% block content %}
        {% endblock %} 
    </body>
</html>
