{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub_nav.css' %}">
</head>
<body>
<div class='nav'>
    {% if not user.is_authenticated%}
        <ul>
          <li><a href="/" >SMART MEETING</a></li>
        </ul>
    {% else %}
        <ul>
          <li><a href="/" >SMART MEETING</a></li>
          <li><a href="/group_make"><span style="color:#db77ec">MAKE A GROUP !</span></a></li>
          <li><a href="/group_list">MY GROUPS</a></li>
          <li style="float:right"><a class="sign_out" href="/sign_out">SIGN OUT</a></li>
          <li style="float:right" class="userInfo">{{user.username}}  님, 즐거운 회의 하세요!</a></li>
        </ul> 
    {%endif%}
    </div> 

{% block content %}


{% endblock %}


<script src="{% static 'js/jquery-1.12.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>