{% extends 'blog/sub.html' %}
{% block content %}

<div class="post_edit" align="center">
	    <form method="POST" class="post-form" enctype="multipart/form-data">
	    	{% csrf_token %}
	    	<input type="text" size='40' name="docu_title" placeholder="제목을 입력해주세요" requierd>
	    	<input type="file" name="docfile">	    	
	        <button type="submit" class="save btn btn-default">Save</button>
	    </form>

</div>
<script>
	$(".post-form > p > input").attr("class","fInput");
	$(".post-form > button").attr("class","fButton")

	// $( ".wrapInput" ).prepend( "<div class=\"input-label\">TITLE</div>" );
</script>
{% endblock %}