{% extends 'blog/sub.html' %}
{% load staticfiles%}
{% block content %}
<div align="center"><h2>그룹명ㅣ{{group.group_name}}</h2></div>
<h2>토의주제목록</h2>
<a href="{% url 'dic:post_new' url=group.url %}">토의주제 작성하기</a>
<br><br><br>
<div class="result-container">
    {% for post in group.posts.all %}
    <div class=container>
        <h1><a href="{% url 'dic:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <!--<p>published: {{ post.published_date }}</p>-->
    </div>
    {% endfor %}
</div>
{% endblock %}