{% extends 'blog/sub.html' %}
{% load staticfiles%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/group.css'  %}">


<div class="post_list">
	<h1 align="center">My Groups</h1>
    {% for g in groups %}
    <ul class=container>
        <li>
        	<a href="{% url 'dic:group' url=g.url %}">
        		<h3 class="title">{{ g.group_name }}</h3>
        		<h4 class="sub" id="myLink">{{ g.group_link }}</h4>
        	</a>
        	<button onclick="copyToClipboard('myLink')" class="btn">초대링크 COPY</button>
        </li>
    </ul>
    {% endfor %}
</div>




<script>
function copyToClipboard(elementId) {

  // Create a "hidden" input
  var aux = document.createElement("input");

  // Assign it the value of the specified element
  aux.setAttribute("value", document.getElementById(elementId).innerHTML);

  // Append it to the body
  document.body.appendChild(aux);

  // Highlight its content
  aux.select();

  // Copy the highlighted text
  document.execCommand("copy");

  // Remove it from the body
  document.body.removeChild(aux);

}
</script>

{% endblock %}