{% extends 'blog/sub.html' %}
{% block content %}

<div class="post_edit" align="center">
	{% if not user.is_authenticated %}
	<h1>그룹을 만드려면 로그인이 필요합니다.</h1>
	<h2><a href="/sign_in">로그인 하러가기 Click!</a></h2>
	{% else %}
	    <form method="POST" class="post-form" >
	    	{% csrf_token %}
	    	
	    	<p>그룹명</p><br>
	    	<input type="text" size='60' name="group_name" requierd>
	    	<br>
	    	<p>초대 링크        </p><p><button onclick="myFunction()" class="btn">Copy</button></p>
	    	<br>
	    	<input type="text" size = '60' name="group_link" value="http://127.0.0.1:8000/group/{{a}}/group_invitation/" id="myLink" readonly><br>
	        <button type="submit" class="fButton">그룹 생성하기</button>
	    </form>
    {% endif %}
<!--파이썬 애니워에일때 그룹 주소: http://smartmeeting.pythonanywhere.com/group/{{a}}/group_invitation/
    서버 배포시 : http://onmds.cafe24.com/group/{{a}}/group_invitation/
    로컬:-->
</div>
<script>
	$(".post-form > p > input").attr("class","fInput");
	$(".post-form > p > textarea").attr("class","fTextarea");
	$(".post-form > button").attr("class","fButton")
	$(".fInput").attr("placeholder","토의 주제을 적어주세요.");
	$(".fTextarea").attr("placeholder","내용을 적어주세요.");

	// $( ".wrapInput" ).prepend( "<div class=\"input-label\">TITLE</div>" );

	function myFunction() {
	  /* Get the text field */
	  var copyText = document.getElementById("myLink");

	  /* Select the text field */
	  copyText.select();

	  /* Copy the text inside the text field */
	  document.execCommand("Copy");

	  /* Alert the copied text */
	  alert("Copied the text: " + copyText.value);
	}
</script>
{% endblock %}