{% extends 'blog/sub.html' %}
{% load staticfiles%}
{% block content %}
<div class="container_in">
	<img src="../../../static/image/blue3.jpeg" width="1700" height="600">
</div>
<div class="title_1"><img src="{%static 'image/smart.png'%}" width="600" height="300"/></div>
<div class="wrap_description">
	<div class="description1 bold">
		<p>그룹별 온라인 회의를 더 쉽게 만들어줍니다.</p>
		<p>먼저 그룹을 만들어보세요!.</p>
	</div>
	<div class="description2 bolder">
		{% if not user.is_authenticated %}
		    <p>Welcome !</p>
			<div class="inline-block margin-right"><a href="/sign_up">SIGN UP</a></div>
			<div class="inline-block "><a href="/sign_in">SIGN IN</a></div>
		{% else %}
			<p>Welcome, <span style="color:yellow">{{ user.username }} !</span></p>
			<div class="inline-block margin-right"><a href='/group_make'>MAKE GROUP</a></div>
			<div class="inline-block  margin-right"><a href="/sign_out">SIGN OUT</a></div>
			<div class="inline-block "><a href="/group_list">MY GROUP LIST</a></div>
		{% endif %}
	</div>
</div>	


<script>
$(function() {
	$('.description1>p:first-child').delay(1000).animate({opacity: 1, right:"-20px"},2000);
	$('.description1>p:nth-child(2)').delay(2000).animate({opacity: 1,right:"-20px"},2000);
	$('.description2').animate({opacity: 1},2000);
});
$('body').attr("class","");
$('body').attr('class','index');

</script>
{% endblock %} 

		