
{% load staticfiles%}
{% block content %}
<style>
@-moz-keyframes ani_fadein { from { opacity: 0; }  to { } }
@-webkit-keyframes ani_fadein { from { opacity: 0; }  to { } }

.fadein { -webkit-animation: ani_fadein 1.5s;  -moz-animation: ani_fadein 1.5s;}
</style>

<head>
	<link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
<div class="container_in">
	<img src="../../../static/image/back.jpg" height = 700 width = 1520 alt="">
</div>
<!--<div class="title_1"><img src="{%static 'image/smart.png'%}" width="600" height="300"/></div>-->
<div class="wrap_description">
	<div class="fadein">
		<p>회의 관리가 손쉬워지는 온라인 회의관리 툴, 스마트미팅</p>
	</div>

	<div class="description2 bolder">
		{% if not user.is_authenticated %}
			<div id="mySidenav" class="sidenav">
  				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  				<a>Welcome !</a>
  				<a href="/sign_up">SIGN UP</a>
  				<a href="/sign_in">SIGN IN</a>
			</div>
			<!-- Use any element to open the sidenav -->
			<button><span onclick="openNav()">get started</span></button>
		{% else %}
			<div id="mySidenav" class="sidenav">
  				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  				<h3>Welcome, <span style="color:yellow">{{ user.username }}</span> !</h3>
  				<a href='/group_make'>MAKE GROUP</a>
  				<a href="/group_list">MY GROUP LIST</a>
  				<a href="/sign_out">SIGN OUT</a>
			</div>
			<!-- Use any element to open the sidenav -->
			<button onclick="openNav()">get started</button>
		{% endif %}
	</div>
</div>	


<script>
$(function() {
	$('.description1>p').delay(1000).animate({opacity: 1, right:"-20px"},2000);
	$('.description2').animate({opacity: 1},2000);
});
$('body').attr("class","");
$('body').attr('class','index');
/* Set the width of the side navigation to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
{% endblock %} 

		