{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>SMART MEETING</title>
        <link rel="stylesheet" href="{% static 'css/blog.css'  %}">
        <link rel="stylesheet" href="{% static 'css/sub.css' %}">
        <link rel="stylesheet" href="{% static 'css/result.css' %}">
        <link rel="stylesheet" href="{% static 'css/content.css' %}">
        <link rel="stylesheet" href="{% static 'css/graph.css' %}">
        <link rel="stylesheet" href="{% static 'css/post.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
    <div class='nav'>
    {% if not user.is_authenticated%}
        <ul>
          <li><a href="/" >SMART MEETING</a></li>
        </ul>
    {% else %}
        <ul>
          <li><a href="/" >SMART MEETING</a></li>
          <li><a href="/group_list">MY GROUPS</a></li>s
          <li style="float:right"><a class="sign_out" href="/sign_out">SIGN OUT</a></li>
        </ul> 
    {%endif%}
    </div> 
        {% block content %}
        {% endblock %} 
    </body>
</html>
