{% extends 'blog/sub.html' %}
{% load staticfiles%}
{% block content %}

<link rel="stylesheet" href="{% static 'css/vote.css'  %}">
<div class='sub_nav'>
    <ul>
        <li><a href="{% url 'dic:group' url=post.group.url %}">{{post.group.group_name}}</a></li>
        <li class="breaker"> > </li>
        <li><a href="{% url 'dic:post_detail' pk=post.pk %}">{{post.title}}</a></li>
        <li class="breaker"> > </li>
        <li class="dropdown">
            <a href="{% url 'dic:chat_room' pk=post.pk %}" class="dropbtn">Chat</a>
            <div class="dropdown-content">
                <a href="{% url 'dic:task_list' pk=post.pk %}">업무 분담표</a>
                <a href="{% url 'dic:file_list2' pk=post.pk%}">공유 문서함</a>
            </div>
        </li>
        <li class="breaker"> : </li>
            <li><a href="{% url 'dic:vote_new' pk=post.pk %}">투표 생성</a></li>
            <li class="breaker"> | </li>
            <li class="select"><a href="{%url 'dic:vote_list' pk=post.pk %}">투표 목록</a></li>
            <li class="breaker"> | </li>
            <li><a href="{% url 'dic:task_new' pk=post.pk %}">업무 분담</a></li>
            <li class="breaker"> | </li>
            <li><a href="{%url 'dic:file_new' pk=post.pk %}">문서 공유</a></li>
    </ul>
</div>


<h1></h1>
<div class="vote_list">
    {% for vote in post.votes.all %}
    <div class=container>
        	{%if vote.vote_num != vote.num %}
        			<p class="vote_ing" ><a href="{% url 'dic:vote' pk=post.pk id=vote.id %}">[진행중 투표] {{ vote.vote_title }}</a></p>
        	{%else%}
        			<p class="vote_ed"><a href="{% url 'dic:vote_result' id=vote.id %}">[완료된 투표] {{ vote.vote_title }}</a></p>
        	{% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}