{% extends 'blog/sub.html' %}
{% block content %}
<div class='sub_nav'>
    <ul>
		<li><a href="{% url 'dic:group' url=post.group.url %}">{{post.group.group_name}}</a></li>
		        <li class="breaker"> > </li>
		        <li><a href="{% url 'dic:post_detail' pk=post.pk %}">{{post.title}}</a></li>
		        <li class="breaker"> > </li>
		        <li class="dropdown">
		            <a href="{% url 'dic:chat_room' pk=post.pk %}" class="dropbtn">Chat</a>
		            <div class="dropdown-content">
		                <a href="{% url 'dic:task_list' pk=post.pk %}">업무 분담표</a>
		                <a href="<a href="">공유 문서함</a>
		            </div>
		        </li>
		        <li class="breaker"> : </li>
		            <li><a href="{% url 'dic:vote_new' pk=post.pk %}">투표 생성</a></li>
		            <li class="breaker"> | </li>
		            <li><a href="{%url 'dic:vote_list' pk=post.pk %}">투표 목록</a></li>
		            <li class="breaker"> | </li>
		            <li><a href="{% url 'dic:task_new' pk=post.pk %}">업무 분담</a></li>
		            <li class="breaker"> | </li>
		            <li><a href="{%url 'dic:file_new' pk=post.pk %}">문서 공유</a></li>
		        </ul>
		    </div>
<div class="post_edit" align="center">
	{% if not user.is_authenticated %}
	<h1>x토의 주제를 만드시려면 로그인이 필요합니다.</h1>
	<h2><a href="/sign_in">로그인 하러가기 Click!</a></h2>
	{% else %}
	    <h1>"{{ post.title }}"</h1>
	    <h3>위 주제와 관련한 투표를 생성해주세요.</h3>
	    <form method="POST" class="post-form" >
	    	{% csrf_token %}
	    	<input type="text" size='40' name="vote_title" placeholder="투표제목을 입력해주세요" requierd>
	    	<input type="text" size='70' name="vote_text" placeholder="투표내용을 입력해주세요" requierd>
	    	<input type="text" size='10' name="vote_num" placeholder="참여인원"requierd>
	    	<button type="submit" class="save btn btn-default">Save</button>
	    </form>
    {% endif %}

</div>
<script>
	// $( ".wrapInput" ).prepend( "<div class=\"input-label\">TITLE</div>" );
</script>
{% endblock %}