
.post_list{
	display: inline-block;
	margin-left: 45px;
	margin-top: 20px;
}

.post_list > a{
	text-decoration: none;
	font-size: 20px;
	color: #23b2b2;
    font-weight: bolder;
}

/*.post_list > a: hover {
	background-color: #f6f6f6;
}*/

ul.container{
	list-style: none;
    padding: 0px;
  
    max-width: 400px;
    width: 100%;
}
.container > li{
	padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
}

.container > li:last-child {
    border-bottom: 0px;
}

.container > li: before{
	content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}
.container > li > a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-weight: bold;	
}


.container > p{
	font-size: 15px;
}


.group_user {
	display: inline-block;
	position: absolute;
	left: 900px;
	margin-top: 20px;
}
.now_vote_list {
	display: inline-block;
	position: absolute;
	left: 900px;
	margin-top: 300px;
}


