/*index.html*/

.container_in{
	 /*position: absolute;
	 text-align: center;
	 opacity: 0.5;
	 z-index:2;*/
  	position: fixed; 
  	top: -50%; 
  	left: -50%; 
  	width: 200%; 
  	height: 200%;
}
.container_in img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.index{
	background: url("../image/black.jpg") no-repeat fixed top;
	background-size: cover;
	z-index:1;
}
.user{
	background: url("../image/black.jpg") no-repeat fixed top;
	background-size: cover;
}

.title_1{
	position: absolute;
	top: 320px;
	right: 110px;
	z-index: 4;
}
.title_1>img{
	opacity: 1;
	position: relative;
}


.wrap_description{
	position: absolute;
	top: 380px;
	left: 60px;
	color: #fff;
	z-index:3;

}

.description1{
	font-size: 17px;
	color: black;
}

.description1>p{
	position:relative;
	opacity: 0;
}

.description2 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.description2 .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.description2 .sidenav a:hover {
    color: #f1f1f1;
}

.description2 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .description2 .sidenav {padding-top: 15px;}
  .description2 .sidenav a {font-size: 18px;}
}

.description2 button:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
.description2 button{
  font-family: 'NanumSquare', sans-serif;
  background:#9f0893;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  text-align:center;
  left: 1200;
  top: 50;
}
.description2 button:hover{
  background:black;
  color:#ce31ea;
}
.description2 button:before,.description2 button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #9f0893;
  transition:400ms ease all;
}
.description2 button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.description2 button:hover:before,.description2 button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*.description2{
	opacity: 0;
	position:relative;
	right:-20px;
	font-size: 22px;
	margin-top: 85px;
}

.description2 > div:first-child > a{
	color: #7cd3c6;
	text-decoration: none;

}

.description2 > div:first-child > a:hover{
	transition: all 0.5s ease;
	text-shadow: 0px 0px 30px white;
	 
}


.description2 > div > a{
	
	text-decoration: none;
	color: white;
	 
}

.description2 > div > a:hover{
	transition: all 0.5s ease;
	color: #7cd3c6;
	 
}*/
