.chat{
	width: 500px;
	background-color: white;
	padding-left: 30px;
	text-align: left;
}
.post_edit{
	margin: 20px 0px 0px 0px;
	background: url("../image/post_back.png") no-repeat;
	background-size: cover;
	padding: 50px 0px;
}
.post_edit > h1:first-child{
	margin-top: 50px;
	color: #777;
}

.post_edit> h2 > a{
	text-decoration: none;
	margin: 50px 0px;
	color: #333;
}
.post_edit> h2 > a:hover{
	transition: all 0.5s ease;
	color: #7b5cc6;
}

.post_edit > h3{
	margin: 0px 0px 70px 0px;
	color: #333;
}

.post-form{
	margin-bottom: 100px;
}
.post-form > p  > input{
	border-top: 0px;
	/*border-bottom: 2px solid #777;*/
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px;
	width: 680px;
	font-size: 15px;

}


.post-form > p  > textarea{
	border-top: 0px;
	/*border-bottom: 2px solid #777;*/
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	padding: 20px;
	width: 680px;
	height: 100%;
	font-size: 15px;

}

.post-form > p {
	margin: 20px 10px 10px 0px;
	display: inline-block;
}

.post-form > p > label{
	display: none;
}

.fButton{
	border: none;
	background-color: #dbc8db;
	color: white;
	width: 500px;
	margin: 10px 0px 0px 0px;
	padding: 10px 10px;
	font-size: 20px;
	font-weight: 700;

}

.fButton:hover{
	transition: all 0.5s ease;
	background-color: #9C27B0;	 

}

/*post_detail*/
.div_container{
	display: flex;
}

.div_left{
	background: #aaaaaa40;
	flex: 1;
	text-align: center;
	line-height: 500px;
}

.div_left > a{
	text-decoration: none;
	font-size: 30px;
	color: black;
}
.div_center{
	background: #c15dc3b3;
	flex: 3;
	text-align: center;
	line-height: 500px;
}

.div_center > a{
	text-decoration: none;
	font-size: 40px;
	color: black;
}
.div_right{
	background: #aaaaaa40;
	flex: 1;
	text-align: center;
	line-height: 500px;
}

.div_right > a{
	text-decoration: none;
	font-size: 30px;
	color: black;
}