/***header - result&content공통***/
.head-space{
	height: 100px;
}

.header-image{
	position: absolute;
	top: 25px;
	left: 40px;
}

.header-text1{
	position: absolute;
	left: 50px;
	top: 40px;
	font-size: 26px;
}
.header-text1> span > a{

	text-decoration: none;
	margin: 0 18px 0 0;
	color: #23b2b2;
}
/*.header-text1> span:first-child{
	margin: 0 18px 0 0;*/
}
.header-text1> span:nth-child(2){
	color: #555;
}
.header-text2> span{
	position:absolute;
	top: 50px;
	right: 50px;
	
}
.header-text2> span > span > a{
	text-decoration: none;
	font-size: 20px;
	color: #333;
	margin-right: 20px;
	top: 50px;
}

.header-text2> span > span > a:hover{
	color: #333;
	transition: all 0.5s ease;
	color: #7cd3c6;
}



